<div class="row">
    <div class="card" style="width: 25%;">
        <img src="images/NDSUlogo.png" alt="The North Dakota State University logo" style="margin-top: 113px; margin-bottom: 113px;">
        <h1 class="card-title center">Campus Events</h1>
        <p class="card-body center">This is a place to talk about the going-ons of campus, such as sporting events, club meetings or a fundraising booth</p>
        <button class="btn btn-primary" style="margin-bottom: 10px;" routerLink="forum-events">Take me there!</button>
    </div>
    <div class="card" style="width: 25%;">
        <img src="images/megaphone.jpg" alt="An image of a megaphone">
        <h1 class="card-title center">Class Announcements</h1>
        <p class="card-body center">This is a place to give Announcements about classes such as cancellations or large tests coming up</p>
        <button class="btn btn-primary" style="margin-bottom: 10px;" routerLink="forum-announcements">Take me there!</button>
    </div>
    <div class="card" style="width: 25%;">
        <img src="images/pencil.jpg" alt="An image of a pencil">
        <h1 class="card-title center">Class Help</h1>
        <p class="card-body center">This is a place to talk about class assignments and to get help from your peers, like meeting up to study</p>
        <button class="btn btn-primary" style="margin-bottom: 10px;" routerLink="forum-classes">Take me there!</button>
    </div>
    <div class="card" style="width: 25%;">
        <img src="images/question.png" alt="A question mark">
        <h1 class="card-title center">Forum Requests</h1>
        <p class="card-body center">Here is where you can request more forums or functionalities you would like to be added</p>
        <button class="btn btn-primary" style="margin-bottom: 10px;" routerLink="forum-requests">Take me there!</button>
    </div>
</div>