  <div class="card">
    <div class="card-body">
        <form>
            <div class="mb-3 formCSS">
                <label for="firstName">Title</label>
                <input type="text" id="title" class="form-control" placeholder="Title" #title>
            </div>
            <div class="mb-3 formCSS">
                <label for="lastName">Description</label>
                <input type="text" id="desc" class="form-control" placeholder="Description" #description>
            </div>
        </form>
        <button type="submit" class="btn btn-primary mb-3 formCSS" (click)="createPost(title.value, description.value)">Create a Post</button>
    </div>
  </div>

<div class="mt-3">
    <div class="row">
      @for(post of posts; track post.id){
      <div class="col-md-4 my-2 mx-0">
        <div class="card text-bg-info p-5">
          <h3 class="card-title">{{post.title}}, by {{post.author}}</h3>
          <p>{{post.description}}</p>
          <a [routerLink] = "['/forums/forum-announcements', post.id]" [queryParams]="{id: 'post.id'}">Open Post</a>
        </div>
      </div>
      }
    </div>
  </div>