<div class="container mt-5">
    <h1 class="text-center mb-4">Play the Local Hits!</h1>
  
    <div class="row justify-content-center g-4">
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="card shadow w-100">
          <div class="card-header bg-success text-white text-center">
            <h5 class="mb-0">Hungry Hungry Crab</h5>
          </div>
          <div class="card-body text-center">
            <iframe src="https://scratch.mit.edu/projects/116794615/embed" width="100%" height="400" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="card shadow w-100">
          <div class="card-header bg-danger text-white text-center">
            <h5 class="mb-0">Fall Down</h5>
          </div>
          <div class="card-body text-center">
            <iframe src="https://scratch.mit.edu/projects/306906013/embed" width="100%" height="400" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="card shadow w-100">
          <div class="card-header bg-primary text-white text-center">
            <h5 class="mb-0">Donut Catcher</h5>
          </div>
          <div class="card-body text-center">
            <iframe src="https://scratch.mit.edu/projects/282807562/embed" width="100%" height="400" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex justify-content-center">
        <div class="card shadow w-100">
          <div class="card-header bg-success text-white text-center">
            <h5 class="mb-0">Super Mario Run</h5>
          </div>
          <div class="card-body text-center">
            <iframe src="https://scratch.mit.edu/projects/309333100/embed" width="100%" height="400" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  
      <!-- Add more if we want -->
    </div>
  </div>
  
  