<app-weather-bar></app-weather-bar>

<div>
  <h1 class="center">Check out our weekly newsletter!</h1>
</div>

<div class="card">
    <div class="card-body">
      <p class="card-text">{{ newsletterContent() }}</p>
    </div>
  </div>
  
  <div class="center">
    <button 
      *ngIf="!isSubscribed" 
      class="btn btn-primary" 
      (click)="subscribe()">
      Subscribe!
    </button>
  
    <button 
      *ngIf="isSubscribed" 
      class="btn btn-danger" 
      (click)="unsubscribe()">
      Unsubscribe
    </button>
  </div>
  